<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布文章</title>
</head>
<body>
    <div>
        <h1>发布文章</h1>
    </div>
    <div>
        <form action="" method="POST">
            <label for="">文章标题</label>
            <input type="text" name="title" ><br>
            <label for="">文章作者</label>
            <input type="text" name="author"><br>
            <div>
                <label for="">文章内容</label>
                <textarea name="content" id="" cols="200" rows="50"></textarea>
            </div>
            <input type="submit" value="发布文章">
        </form>
    </div>
</body>
</html>